<h1 id="quicklinks">Quick Links</h1>
<ul>
  <li><a target="_blank" href="https://snap.berkeley.edu/run/">Snap</a></li>
  <li><a target="_blank" href="https://piazza.com/{{ site.piazzaURL }}">Piazza</a></li>
  <li><a target="_blank" href="{{ site.labsurl }}/course/{{ site.labsCourse }}">Labs</a></li>
  <li><a target="_blank" href="https://bcourses.berkeley.edu/courses/{{ site.bCourses }}">bCourses</a></li>
  <li><a target="_blank" href="http://webcast.berkeley.edu/playlist#c,s,Fall_2014,-XXv-cvA_iCajFbSJ4q3ApmKtT7RL3wQ">Past Webcasts</a></li>
  <li><a href="{{ site.baseurl }}/assign.html?https://docs.google.com/document/d/1ISE5O44dp45TnOm7ueFZcxowL0dlgSmnk-sojFS8y_Q/pub">Course Policies</a></li>
  <li><a href="{{ site.baseurl }}/labquestions/">Lab Check-Off Questions</a></li>
  <li><a href="{{ site.baseurl }}/resources/exams/">Practice Exams</a></li>
</ul>
<div class="clearfix"></div>
